<!DOCTYPE html>
<html lang="en">
	<head>
		<title>NEWS INFO</title>
		<meta charset = 'utf-8'>
		<meta name = "viewport" content = "width=device-width, initial-scale=1">
		<link rel = 'stylesheet', href = 'http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'>
		<script src = "https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
		<script src = "http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	</head>
	<body>
		<br>
		
		<button type = 'button' onclick="goBack('{{ scrap }}')">이전 페이지로 돌아가기</button>

		<div class "container">
			<p><br></p>
			{% for news in read_data %}
			<p id = "news_id">NEWSID : {{ news.news_id }} <br><br></p>
			<p id = "news_category"> CATEGORY : {{ news.category }} <br><br></p>
			<p id = "news_date"> DATE : {{ news.date }} <br><br></p>
			<p id = "news_title"> TITLE : {{ news.title }} <br><br></p>
			<p id = "news_content"> CONTENT : {{ news.content }} <br><br></p>
			
			<form name = 'frmPopup' method = 'post'>
				{% csrf_token %}
				<button type = "submit" name = "scrap" onclick="open_pop()" value='add; {{ news.news_id }}'>
					스크랩 하기
				</button>
				<button type = "submit" name = "scrap" onclick="open_pop()" value='cancle; {{ news.news_id }}'>
					스크랩 취소
				</button>
			</form>
			{% endfor %}
		</div>

	<script language = "JavaScript" >
		function goBack(is_scrap) {
			var status = is_scrap
			if (status == 'True') {
				window.location.href = '/articles/scrapNews';
			}
			else { 
				window.location.href = '/articles';
			}
		}
	</script>

	<script language="JavaScript">
		function open_pop() {
			var frmPop = document.frmPopup;
			var url = '/articles/scrap/';
			window.open(url, 'popupView', 'width=600, height = 300');
			frmPop.action = url;
			frmPop.target = 'popupView';
			frmPop.submit();
		}
	</script>
	</body>
</html>
